@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Dosis|Stalemate');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body{
  width:100%;
}


#nav-style{
  background-color: transparent;
   background: transparent;
   border-color: transparent;
   height: 80px;
}

nav a:visited { 
    color: transparent;
}




.nav.navbar-nav.navbar-right li a {
    color: #333;
    font-size: 18px;
    font-family: 'Julius Sans One', sans-serif;
    padding-top: 30px;

}

#franchise{
  background-color: #EEBB1A;
  height: 80px;
}


#logo{
  height: 50px;
}

/*fix the text next to the log*/
.block-fix{
  display: inline-block;
  font-family: 'Stalemate', cursive;
  font-size: 2em;
  margin-left: 8px;
  color: #333;
}

/*text heading*/

header {
  color: #333;
  background-image: url('../images/eggfix.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
 #cont-mouse{
   cursor: pointer;
 }

.intro-heading{
  
  font-family: 'Cabin Sketch', cursive;
  font-size: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#q-reserv{
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
  text-align: right;
  float: right;
}

#q-reserv a{
color: #333;
text-decoration: none;
}

#q-reserv a:hover{
color: #EEBB1A;
}

/*animate reservez in header*/

#q-reserv{
 -webkit-animation-delay: 1s;
}
#wow{
  font-size: 3em;
}

#wow-sm{
  font-size: 2em;
  text-align: center;
 
}

#city{
 font-family: 'Didact Gothic', sans-serif;
 text-align: center;
font-size: 2em;

}

#accroche{
  font-size: 2em;  
  font-family: 'Roboto', sans-serif;
  color: black;
}

/*tamano del contacto dentro del modal */
#size-contact{
width: 100%;
float:left;
}

/*titulos de cada seccion*/
.tit-sec{
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 4em;
}

#li-img-fix{
  padding-left: 40px;
}


#text-equipe{
  padding-top: 1.4em;
}

#photos{
  height: 100%;
   display: inline-block;
}


.text-hijo{
  font-family: 'Stalemate', cursive;
 color: #EEBB1A;
 font-size: 350%;
 text-align: center;
}

#container-photos a:hover{
  text-decoration-line: none;
}

p{
  text-align: justify;
  font-family: 'Dosis', sans-serif;
}

#descrpition{
  font-size: 2em;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

#container-photos{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.filter{
  width: 100%;
  padding: 10px;
 -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}

.filter:hover{
  -webkit-filter: sepia(0%); /* Safari 6.0 - 9.0 */
  filter: sepia(0%);
}

.modal-img{
  width: 100%;
}


h2{
 padding: 20px;
 font-family: 'Dosis', sans-serif;
}

#text-area{
  width: 100%;
}

#form-reserve{
  background-color: rgba(225,225,225,0.4);
  border-radius: 5px 5px 5px 5px;
  width: 50%;
  text-align: center;
 float: right;
 display: inline-block;
  margin-top: 10%;
  margin-right: 25%;
}

#geo-container{
  text-align: center;
}

#geolocalisation{
  text-align: center;
}

#reserve{
    width: 100%;
    height:100vh;    
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/106877/pexels-photo-106877.jpeg?w=940&h=650&auto=compress&cs=tinysrgb'); 
}


#footer-id{
  background-color: black;
  padding: 30px;
  color: white;
}

ul{
  list-style-type: none;
}

footer a{
  color:white;
}

.row{
  width: 100%;
}

#icons{
  font-size: 2em;
  cursor: pointer;
}



/*MEDIA QUERIES */


@media all and (max-width: 1024px)
{
  .intro-heading{
    padding-top: 120px;
    font-size: 4em;
  }

  header{
    text-align: center;
  }

  footer{
    text-align: center;
  }

  #q-reserv{
  font-family: 'Cabin Sketch', cursive;
  font-size: 2em;
  text-align: center;
  float: none;
}
}

@media (min-width: 768px) and (max-width: 992px) { 
.nav.navbar-nav.navbar-right li a {
    color: black;
    font-size: 14px;
    font-family: 'Julius Sans One', sans-serif;

}

}

@media (max-width: 768px) { 
  #nav-style{
  background-color: transparent;
   background: white;
   border-color: transparent;
  }
  #form-reserve{
    width: 100%;
    margin:5px;
  }
}

/*page devenir franchise - form */
#success_message{ 
  display: none;
  }

#header_df{
 background-image: url('../images/res1.jpg');
}


#nav-style-df{
  background-color: rgba(225,225,225);
   border-color: transparent;
   height: 80px;
}

.intro-heading-df{
  color: white;
font-family: 'Cabin Sketch', cursive;
  font-size: 6em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
 background-color: rgba(225,225,225,0.2);
}



/*RESEAUX SOCIAUX*/

#reseaux{
  float: left;
}

.social {
  width: 200px;
  height: 220px;
  /*position: fixed;*/
  margin-top: 30px;
  perspective: 1000px
}

.social li a {
  display: block;
  height: 40px;
  width: 40px;
  background: #222;
  border-bottom: 1px solid #333;
  font: normal normal normal
  16px/20px 
  'FontAwesome', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  transition: background .5s ease .300ms
}

.social li:first-child a:hover { background: #3b5998 }
.social li:nth-child(2) a:hover { background: #00acee }
.social li:nth-child(3) a:hover { background: #ea4c89 }
.social li:nth-child(4) a:hover { background: #dd4b39 }

.social li:first-child a { border-radius: 0 5px 0 0 }
.social li:last-child a { border-radius: 0 0 5px 0 }
    
.social li a span {
  width: 100px;
  float: left;
  text-align: center;
  background: #222;
  color: #fff;
  margin: -25px 74px;
  padding: 8px;
  transform-origin: 0;
  visibility: hidden;
  opacity: 0;
  transform: rotateY(45deg);
  border-radius: 5px;
  transition: all .5s ease .300ms
}

.social li span:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 7px;
  border-left: 10px solid transparent;
  border-right: 10px solid #222;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

.social li a:hover span {
  visibility: visible;
  opacity: 1;
  transform: rotateY(0)
}